<header>
    <div class="header__navbar topnav" id="topnav">
        <div class="header__navbar--list">
            <a class="header__navbar--item  <%= path === 'shop' ? 'active' : '' %>" href="/">Shop</a>
            <a class="header__navbar--item  <%= path === 'products' ? 'active' : '' %>" href="/products">Products</a>
            <% if (isAuthenticated) { %>
                <a class="header__navbar--item  <%= path === 'cart' ? 'active' : '' %>" href="/cart">Cart</a>
                <a class="header__navbar--item  <%= path === 'orders' ? 'active' : '' %>" href="/orders">Orders</a>
                <a class="header__navbar--item  <%= path === 'buyProduct' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
                <a class="header__navbar--item  <%= path === 'admin/products' ? 'active' : '' %>" href="/admin/all-products">Products</a>
            <% } %>
        </div>
        <div class="header__navbar--list">
            <% if (!isAuthenticated) { %>
                <a class="header__navbar--item  <%= path === 'login' ? 'active' : '' %>" href="/login">Login</a>
                <a class="header__navbar--item  <%= path === 'signup' ? 'active' : '' %>" href="/signup">Signup</a>
            <% } else { %>
                <div class="form-logout">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-form" type="submit">Logout</button>
                    </form>
                </div>
            <% } %>       
        </div>
        <button class="icon" onclick="toggle()"><i class="fa fa-bars"></i></button>
        <button class="icon-close" onclick="toggle()"><i class="fas fa-times"></i></button>
    </div>
</header>
<script src="/js/main.js"></script>
