<div class="pagination">
    <% if (hasPrevPage) { %>
        <a href="?page=<%= prevPage %>">&laquo;</a>
    <% } %>
    <% if (currentPage !== 1 && prevPage !== 1) { %>
        <a href="?page=1">1</a>
    <% } %>
    <a class="active" href="?page=<%= currentPage %>"><%= currentPage %></a>
    <% if (currentPage !== lastPage && nextPage !== lastPage) { %>
        <a href="?page=<%= lastPage %>"><%= lastPage %></a>
        <% } %>
    <% if (hasNextPage) { %>
        <a href="?page=<%= nextPage %>">&raquo;</a>
    <% } %>
</div>